---
import Pagination from '@/components/Pagination.astro';
import PostTeaser from '@/components/posts/PostTeaser.astro';
import SectionHeader from '@/components/SectionHeader.astro';
import { locales, useTranslatedPath, useTranslations, type Locale } from '@/i18n';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Search from 'astro-pagefind/components/Search';

export async function getStaticPaths({ paginate }) {
  const { getLocalizedPosts } = await import('@/utils/getLocalizedPosts');

  const allPaths = await Promise.all(
    locales.map(async (lang) => {
      const posts = await getLocalizedPosts(lang);
      return paginate(posts, {
        pageSize: 10,
        params: { lang },
      });
    })
  );

  return allPaths.flat();
}

const { lang: langParam } = Astro.params;
const lang = langParam as Locale;
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const urlPattern = translatePath('/blog/page/{}');

const { page } = Astro.props;
const { data: posts } = page;
---

<BaseLayout meta={{ title: t('blog.title'), description: t('site.description') }} lang={lang}>
  <section class="wrapper">
    <div class="md:flex gap-7 mb-10 justify-between">
      <SectionHeader
        title={t('blog.title')}
        subtitle={page.currentPage > 1
          ? t('pagination.page', {
              current: page.currentPage.toString(),
              total: page.lastPage.toString(),
            })
          : ''}
        description={t('site.description')}
        class="mb-2 md:flex-1 md:min-w-0"
      />
      <div class="flex-1 items-end md:max-w-[350px] md:w-[200px] md:pt-7">
        <Search className="pagefind-ui-dark pagefind-ui-floating" uiOptions={{ filters: { language: lang } }} />
      </div>
    </div>

    <ul>
      {
        posts.map((post) => (
          <li>
            <PostTeaser post={post} lang={lang} />
          </li>
        ))
      }
    </ul>
  </section>
  <Pagination page={page} urlPattern={urlPattern} lang={lang} />
</BaseLayout>
