<div class="article container-fluid-1200">
  <div class="grid-row">
    <div class="main col-xs-12">
      <h1 class="title">
        <%- page.title %>
      </h1>
      <div class="stuff">
        <span><%- page.date.locale("en").format("MMMM DD, YYYY") %></span>
      </div>

      <% if (page.cover) { %>
      <div class="article-image">
        <%- image_tag(image_version(page.cover, {prefix: 'header'}), {width: 1200, height:400 }) %>
      </div>
      <% } %>
      <div class="content markdown">
        <%- page.content %>
      </div>
    </div>
  </div>
</div>

<div class="post-nav">
  <div class="container-fluid-1200">
    <div class="grid-row">
      <div class="next col-xs-6">
        <% if (page.prev) { %>
          <div class="nav-previous">
            <a href="<%- page.prev.path %>" rel="prev" class="nav-cover">
              <%- image_tag(image_version(page.prev.cover, {prefix: 'teaser'})) %>
            </a>

            <a href="<%- page.prev.path %>" rel="prev" class="nav-text">
              <i class="fa fa-arrow-left"></i> <%- page.prev.title %>
            </a>
          </div>
        <% } %>
      </div>
      <div class="prev col-xs-6">
        <% if (page.next) { %>
          <div class="nav-next">
            <a href="<%- page.next.path %>" rel="next" class="nav-cover">
              <%- image_tag(image_version(page.next.cover, {prefix: 'teaser'})) %>
            </a>

            <a href="<%- page.next.path %>" rel="next" class="nav-text">
              <%- page.next.title %> <i class="fa fa-arrow-right"></i>
            </a>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</div>

<div class="post-comments container-fluid-1200">
    <div id="disqus_thread">To show the comments is mandatory accept cookie policy.</div>
</div>


<%- partial("_partial/photoswipe")%>

<%- partial("_partial/post/footer")%>
