---
import SectionHeader from '@/components/SectionHeader.astro';
import { createSlug } from '@/utils/createSlug';
import type { CollectionEntry } from 'astro:content';
import Pagination from '../../../components/Pagination.astro';
import PostTeaser from '../../../components/posts/PostTeaser.astro';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import { getPostsByTag } from '../../../utils/getPostsByTag';
import { getTags } from '../../../utils/getTags';

// Represents the params object for your [tag]/[page].astro route
export interface TagPageParams {
  tag: string;
  page: string;
}

// Represents the props you might want to pass to each page
export interface TagPageProps {
  posts: any[]; // Replace 'any' with your actual post type if you have one
  tag: string;
}

// Represents a single path object returned by getStaticPaths
export interface StaticPath {
  params: TagPageParams;
  props: TagPageProps;
}

const tags = (await getTags()) || new Map();

export const prerender = true;

export const getStaticPaths = async ({
  paginate,
}: {
  paginate: (
    items: CollectionEntry<'blog'>[],
    options: { pageSize: number; params: { tag: string } }
  ) => StaticPath[];
}) => {
  const paths: StaticPath[] = [];
  const tags = (await getTags()) || new Map();
  for (const [slug, tag] of tags) {
    const tagPosts = await getPostsByTag(tag, 'blog');
    const paginated = paginate(tagPosts, { pageSize: 10, params: { tag: slug } });
    paginated.forEach((page) => {
      paths.push(page);
    });
  }

  return paths;
};

const { tag: tagSlug } = Astro.params;
const { page } = Astro.props;
const { data: posts } = page;

const tag = tags.get(tagSlug) || tagSlug; // Fallback to slug if tag not found

console.log(tagSlug, tag);

const filteredPosts = posts.filter((post) => post.data.tags?.includes(tag));

const urlPattern = `/tags/${createSlug(tag)}/{}`;
---

<BaseLayout>
  <section class="wrapper">
    <SectionHeader
      title={`Posts tagged with "${tag}"`}
      subtitle={`[${filteredPosts.length} post${filteredPosts.length !== 1 ? 's' : ''}]`}
      description="Explore posts related to this tag."
      class="mb-6"
    />
    <ul>
      <ul>
        {
          filteredPosts.map((post) => (
            <li>
              <PostTeaser post={post} />
            </li>
          ))
        }
      </ul>
    </ul>
  </section>
  <Pagination page={page} urlPattern={urlPattern} />
</BaseLayout>
